*{
    margin: 0px;
    padding: 0px;
}

@font-face{
  font-family: customfont;
  src:url("CfBlackboardPersonalRegular-AKPg.ttf");
  unicode-range: U+20-21, U+3F, U+41-5A, U+61-7A;
}

body{
  background-image: url("images.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
}

img{
  width: 30px;
  height: 30px;
}


.container{
    display: flex;
    justify-content: space-evenly;
    /* border: solid blue; */
    margin: 5px 5px 5px 5px;
    height: 675px;
}

.left-side-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: solid red; */
    width: 50%;
    height: 650px;
    margin: 5px;
}

.right-side-container{
    display: flex;
    flex-wrap: wrap;
    /* border: solid purple; */
    width: 50%;
    height: 650px;
    margin: 5px;
}

.incorrect-guesses-div{
    /* border: solid black; */
    margin-top: 10px;
}

.round-div{
  margin-top: 10px;
  margin-left: 350px; 
}




.heading{
     /* border: solid darkgoldenrod;  */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 50px;
    width: 60%;
    color: white;
}

.buttons{
    /* border: solid red; */
    margin-top: 2rem;
    width:20rem;
    display: flex;
    justify-content: space-around;
    height: 2rem;
}

.start, .reset{
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    min-width: 120px;
    min-height: 30px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.reset:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.reset{
  display: none;
}


.start:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.tooltip{
  position: relative;
}

.tooltip .tooltiptext{
  visibility: hidden;
  position: absolute;
  z-index: 1;

}

.tooltiptext{
  width: 400px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.info{
  font-size: 20px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#incorrect_guess_no, #round_no{
  color: white;
  font-size: 20px;
}


.heading-para{
    font-size:2rem;
    font-family: customfont;
}
.sub-heading-para{
    font-size: 1rem;
    font-style: italic;
    height: 20px;
    margin-left: 30px;

}

h4{
  color:white;
  font-size: 20px;
}

.list-div{
    /* border: solid green; */
    margin-left: 50px;
    height: 15%;
    display: flex;
    justify-content: center;
    width: 600px;
}

.guessing-word{
    
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
}

li{
    font-size: 2rem;
}

.hint-div{
    border: solid black;
    overflow-wrap: break-word;
    width: 600px;
    height: 15%;
    margin-left: 50px;
    margin-top: 20px;
}

.keyboard-div{
    /* border: solid darkorange; */
    width: 700px;
    height: 50%;
    margin-left: 15px;
}

#yourscore, #compscore{
  color: white;
  font-size: 20px;
}

.keybutton{
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 12px;
    /* background-image: linear-gradient(to right,green,white); */
}

.keybutton:hover{
  background-color: green;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.alphabet-button-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    position: relative;
    flex-wrap: wrap;
}

.hangman-wrapper {
    /* border: 1px solid darkcyan; */
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    margin-left: 10px;
    margin-top: 5em;
    margin-right: 5em;
}

.status{
    /* border: solid cyan; */
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 400px;
}

.score{
    /* border: solid black; */
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 250px;
   height: 150px;
}

.hangmanstickdiv{
    /* border: solid blue; */
    height: 400px;
    width: 400px;
}

.guessing-word{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.guessing-word .letter{
    width: 28px;
    border-bottom: 3px solid;
    font-size: 25px;
    margin-bottom: 20px;
}

.hint-display-div{
  font-size: 20px;
  color: black;
  align-self: center;
  font-family: customfont;
  
}

#computeroverlay, #useroverlay{
  position: fixed;
  display: none;
  width: 30%;
  height: 30%;
  top: 15em;
  left: 30em;
  right: 10em;
  bottom: 10em;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#computertext, #usertext{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.hint{
  /* border: solid black; */
  height: 2em;
  width: 10em;
  margin-left: 3em;
  font-size: 20px;
  margin-top: 2em;
  color: white;
  font-family: customfont;
}


.head {
    width: 50px;
    height: 60px;
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 21px;
    left: 133px;
    z-index: 1;
    animation: rock 1s alternate infinite ease-in-out;
    transform-origin: center bottom;
  }

  @keyframes rock {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

  .body {
    width: 2px;
    height: 100px;
    border: 2px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 85px;
    left: 160px;
  }

  .leftleg {
    width: 2px;
    height: 100px;
    border: 2px solid black;
    display: block;
    position: absolute;
    background-color: black;
    top: 185px;
    left: 160px;
    transform: rotate(12deg);
    transform-origin: top;
  }

  .leftarm {
    width: 100px;
    height: 2px;
    border: 2px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 96px;
    left: 58px;
    animation: wave 1s alternate infinite ease-in-out;
    transform-origin: 100%;
  }

  @keyframes wave {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  .rightarm {
    width: 100px;
    height: 2px;
    border: 2px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 96px;
    left: 162px;
    animation: wave2 1s alternate infinite ease-in-out;
    transform-origin: 0%;
  }

  @keyframes wave2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 110px;
  transform: rotate(8deg);
}

  .rightleg {
    width: 3px;
    height: 100px;
    border: 2px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 185px;
    left: 160px;
    transform: rotate(-12deg);
    transform-origin: top;
  }

